.shop-category {
  width: 100%;
  padding: 20px 0;
}

.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
  border-radius: 10px; 
}

.shopcategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  width: 80%;
}

.shopcategory-indexSort p {
  font-size: 16px;
  color: #333;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.shopcategory-sort img {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.shopcategory-products {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Increased min size */
  gap: 40px; 
  width: 85%;
  max-width: 1300px;
}

.shopcategory-products .item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopcategory-products .item:hover {
  transform: scale(1.05);
}

.shopcategory-products .item img {
  width: 100%;
  height: 300px; 
  object-fit: contain; 
  border-radius: 10px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: #7c7a7a;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.shopcategory-loadmore:hover {
  background: #5a5959;
}
@media(max-width:1280px){
  .shopcategory-banner{
      margin: 20px auto;
      width: 90%;
  }
  .shopcategory-indexSort{
      width: 90%;
      margin: auto;
  }
  .shopcategory-sort{
      padding: 5px 10px;
      font-size: 12px;
  }
  .shopcategory-indexSort p{
      font-size: 12px;
  }
  .shopcategory-products{
      width: 90%;
      margin: 10px auto;
      row-gap: 40px;
  }
  .shopcategory-products .item{
      margin: auto;
  }
  .shopcategory-loadmore{
      margin: 100px auto;
      width: 200px;
      height: 60px;
      font-size: 16px;
  }
}
@media(max-width:800px){
  .shopcategory-banner{
      width: 95%;
  }
  .shopcategory-products{
      width: 95%;
  }
  .shopcategory-loadmore{
      margin: 60px auto;
      width: 150px;
      height: 40px;
      font-size: 13px;
  }
}
@media(max-width:500px){
  .shopcategory-products{
      grid-template-columns: 1fr 1fr;
  }
}